@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    border:none;
    outline: none;
    list-style: none;
    -webkit-box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
}
:root {
    --bg-color:#191919;
    --primary-color:#ff0000;
    --gray:#000000d6;
   --bg-pramary:#ecf8f3;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
}
.text-primary {
    color: var(--primary-color);
    text-shadow: 7px 0px 13px red;

}
/* header start */
#home
{
    background: var(--bg-color);
    height: 100vh;
    background-image: url(../imgs/3.jpg) ;
}
#home .navbar {
    background: var(--gray);
    border-bottom: 1px solid #ca000056;
    position: fixed;
    width: 100%;
    background-color: var(--bg-color); 
    z-index: 3333;

}
#home .navbar nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: auto;
    padding: 1.5rem 2rem;
}
#home #logo {
    color: red;
    font-size: 24px;
    font-weight: 600;
}
#home  .navbar nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
#home  .navbar nav ul a {
   margin: 0 15px;
   color: var(--bg-pramary);
   font-weight: 600;
   transition: 0.5s;
}
#home .navbar nav ul a:hover {
    color: red;
}
#home .header-contant{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    max-width: 1100px;
    margin: auto;
    height: 100%;
    padding: 5rem 2rem 0;
}
#home .header-contant img {
    width: 582px;
    translate: 169px 52px;
}
#home .header-contant p span {
    font-weight: 700;
    font-size: 20px;
    color: red;
}
#home .header-contant h1 {
    font-size: 60px;
    color: var(--bg-pramary);
    text-shadow: 7px 0px 13px red;
}
#home .header-contant .title {
    font-size: 22px;
    color: var(--bg-pramary);
    margin: 5px 0;
    font-weight: 500;
}
#home .header-contant .socail {
 margin: 1rem 0 2rem;
}
#home .header-contant .socail a i {
    font-size: 18px;
    padding: 10px;
    background-color: var(--bg-pramary);
    color: #f20000db;
    border-radius: 50px;
    margin-left: 10px;
    transition:  all 0.9 ease;
}
#home .header-contant .socail a i:hover {
    transform: scale(0.85);
}
#home .btn-primary {

  color: #fff;
  padding: 8px 20px;
  font-size: 14px;
  border: 2px solid red;
  border-radius: 5px;
  transition: 0.5s;
  width: 114px;

}
#home .btn-primary:hover {
    background: red;
}
header .content-text {
    display: flex;
    align-content: stretch;
    flex-wrap: nowrap;
    flex-direction: column;
    translate: 0 218px;
}
/* header and */
#about,
 #skills,
 #services,
 #protfolio
  {
    padding: 6rem 0;
}

#about h2, 
#skills h2,
#contact h2,
#services h2
 {
    text-align: center;
    font-size: 38px;
    color: var(--bg-color);
    font-weight: 600;
    letter-spacing: 1px;
}
#protfolio h2{
    text-align: center;
    font-size: 38px;
    color:#fff;
    font-weight: 600;
    letter-spacing: 1px;
}
#about hr,
 #skills hr,
 #services hr
  {
    width: 100px;
    height: 3px;
    background-color: #ff00004e;
    border: none;
    margin: 5px auto 0;

}
#about .about-content {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 3rem;
}

#about .about-content .call-1  h3{
    font-size: 28px;
    margin-bottom: 20px;
}
#about .about-content .call-1  p {
    color: var(--gray);
    line-height: 1.8;
}
#about .about-content .call-2 p{
    color: var(--gray);
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
 }
 /* skills start */
 #skills ,  #contact {
   background: #3c3d1f;
   /* background-image: url(/imgs/3.jpg);  */
 }
 #protfolio{
    background-image: url(../imgs/3.jpg);
 }
 #skills h2,
 #protfolio {
    color: #fff;
   
 }
 #skills .row img {
    max-width: 40px;

}
#skills .skills-content
#protfolio {
    margin-top: 2rem;
 
}
#skills .skills-content .row {
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    align-items:center;
    text-align: center;

}
#skills .skills-content .row .item {
    color: #fff;
   background-color:#191919;
    margin: 20px;
    padding: 1rem;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.4s ease;
}
#skills .skills-content .row .item:hover{
    box-shadow: 10px 10px 10px #ff00003a;

}
 /* skills end */


#services  {
    background-color: rgb(255, 251, 251);
}
#services  .heading  {
    display: flex;
justify-content: center;
align-items: center;
}
#services  .heading img {
 width: 55px;
 margin-right: 10px ;
}
.logos {
    width: 55px;
    margin-right: 10px ;

}
#services .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 4rem;
  text-align: center;
  column-gap: 2rem;
  row-gap: 4rem;
}
#services .row .item {
    background-color: #e2e0e0;
    padding: 30px 15px;
    box-shadow: 2px 2px 4px 0 0 0 rgb(0, 0,  0 ,0.2) ;
    border-radius: 5px;
    transition: all 0.5s ease;
}
#services .row .item:hover {
    transform: scale(1.04);
}
#services .row .item h3 {
    margin: 15px 0;
    color: rgb(176, 54, 54);
}
 /* sss */

 #protfolio .row .item img {
    max-width: 100%;
    border-top-left-radius: 5px ;
    border-top-right-radius: 5px ;
    border-bottom: 2px solid #ccc;
 }
 #protfolio .row .item  {
    background-color: #fff;
    border-radius: 5px;
    color: #030000;
 }
 #protfolio .row .item:hover {
    transform: scale(1.03);
    transition: all 0.5s ease;
    box-shadow: 10px 10px 10px #ff0000ae;
 }
 #protfolio .row .item .item-conte {
    padding: 20px 15px 30px;
 }
 #protfolio .row .item .item-conte h3 {
    font-size: 20px;
    color: #000000;
 }
 #protfolio .row .item .item-conte a {
    font-size: 14px;
    color: var(--primary-color);
    font-weight: 500;
 }
 #protfolio .row {
    display: grid;
    grid-template-columns: repeat(3 ,1.5fr);
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
 }
 
/* contact start */
  #contact {
    padding: 4rem 0;
 } 
 #contact .row {
    display: grid;
    grid-template-columns:  repeat( 2, 1fr);
    background: #615d5d;
    box-shadow: 10px 10px 10px #c25e5eae;
    padding: 2rem 3rem ;
    border-radius: 10px;
    column-gap: 2rem;

 }
 #contact .row input ,  #contact .row textarea{
    display: block;
    width: 100%;
    margin:  20px 0;
    padding: 10px;
    background-color: #ece3e3;
    border:  1px solid red;
 }
 
.btn-primar{
    color: #6e3737;
    padding: 8px 20px;
    font-size: 14px;
    border: 2px solid red;
    border-radius: 5px;
    transition: 0.5s;
    width: 114px;
    
}
.btn-primar:hover{
    background-color: red;
}
/* contact ثةي */
#footer {
    background-color: #141313;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}
#footer p a {
    color: #ff0000;
    font-weight:bold;
}


@media(max-width:768px) {
    #home .navbar nav{
        display: block;
        text-align: center;
    }
    #home  .navbar nav ul {
        margin-top: 20px;
    }
    #home  .navbar nav ul a {
        margin: 0 8px;
    }
    #home .header-contant {
        grid-template-columns: 1fr;
    }
    #home .header-contant img {
        max-width: 360px;
        margin-right: 50%;
    }
    #home .header-contant h1  {
        font-size: 50px;
    }
    #about .about-content,
    #contact .row {
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }
    #skills .skills-content .row,
    #services .row,
    #protfolio .row{
        grid-template-columns: repeat(2 ,1fr);
    }
    #content .row img {
        max-width: 250px;
        margin: auto;
    }
}
/* phone */
@media(max-width:524px) {
    #home .header-contant h1 {
    font-size:35px;
}
#home .header-contant p span,
#home .header-contant .title {
    font-size: 16px;
} 
#home .header-contant img  {
    margin-right:2rem;
}
#about h2, 
#skills h2,
#contact h2,
#services h2 {
    font-size: 38px;
}
#about .about-content .call-1  h3 {
    font-size: 20px;
}
#skills .skills-content .row,
#services .row,
#protfolio .row{
    grid-template-columns:1fr;
}
#contact .row {
    padding: 2rem 1rem;
}
#home  .navbar nav ul{
  padding: 0 10px;  
}
#home .header-contant img {
    max-width: 250px;
    translate: 50px 75px;
}
#contact .row img{
    max-width: 250px;
    translate: 50px 50px;
}
}